:root {
  --bg-navbar: rgb(33, 37, 41, 1);
  --bg-wrapper: black;
  --green: rgb(128, 255, 0);
  --clear: rgb(0, 0, 0, 0);
}

/* Font Library: */
@font-face {
  font-family: OpenSans;
  src: url("./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

* {
  font-family: OpenSans;
}

/* Class: */

.color-grey {
  color: grey;
}

.color-white {
  color: white;
}

.interaction:hover {
  color: var(--green);
  cursor: pointer
}

.textbox {
  background-color: rgb(255, 255, 255, 0.6);
}

.navbar {
  background: var(--bg-navbar)
}

/* ID: */
#hero {
  background: linear-gradient(to bottom,
    var(--clear),
    var(--bg-wrapper)
  ), url("./assets/img/hero.png");
  background-size: auto 100vw;
  background-position: top center;
  background-repeat: no-repeat;
}

#wrapper {
  background: var(--bg-wrapper)
}